<ul class="atoms-global-colors">
	<li class="primary">
		<span class="swatch"></span>
        <span class="label"></span>
	</li>
	<li class="primary-md">
		<span class="swatch"></span>
		<span class="label"></span>
	</li>
	<li class="primary-lt">
		<span class="swatch"></span>
		<span class="label"></span>
	</li>
	<li class="secondary">
		<span class="swatch"></span>
		<span class="label"></span>
	</li>
	<li class="secondary-md">
		<span class="swatch"></span>
		<span class="label"></span>
	</li>
	<li class="secondary-lt">
		<span class="swatch"></span>
		<span class="label"></span>
	</li>
	<li class="tertiary">
		<span class="swatch"></span>
		<span class="label"></span>
	</li>
	<li class="tertiary-md">
		<span class="swatch"></span>
		<span class="label"></span>
	</li>
	<li class="tertiary-lt">
		<span class="swatch"></span>
		<span class="label"></span>
	</li>
</ul>
