<p class="tk-superclarendon">Primary font: "Superclarendon", "Georgia", serif;</p>
<p class="tk-superclarendon"><em>Primary font italic: "Superclarendon", Georgia, serif;</em></p>
<p class="tk-superclarendon"><strong>Primary font bold: "Superclarendon", Georgia, serif;</strong></p>

<p class="tk-clarendon-text-pro">Secondary font: "Clarendon Text Pro", "Georgia", serif;</p>
<p class="tk-clarendon-text-pro"><em>Secondary font italic: "Clarendon Text Pro", Georgia, serif;</em></p>
<p class="tk-clarendon-text-pro"><strong>Secondary font bold: "Clarendon Text Pro", Georgia, serif;</strong></p>
